body {
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway;
    box-sizing: border-box;
}

/* social media/search false header */
#social-search-header {
 width: 100%;
 height: 40px;
 /* border-bottom: 4px solid rgb(216, 216, 1); */
 background-color: rgb(238, 50, 16);
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.fab:hover {       /* social media widgets */
    opacity: 60%;
}

#social-header, #search-header {
    align-self:center;
}

#social-header {
    margin: 0 0 0 15px;
}

#search-header {
    margin: 0 15px 0 0;
    border: transparent;
    border-radius: 4px;
}

#logo-top {
    display: none;
}

/* ============ header content below ============= */

#logo-nav-flex {
    height: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#logo {
    align-self: center;
    /* padding-left: 5rem; */
    margin: 15px 0 0 15px; 
    opacity: 95%;
    height: 80px;
}

nav {
    align-self: center;
    /* margin: 0 30px 0 0; */
    font-size: 20px;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    /* padding-right: 5rem; */
}

li {
    margin: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(182, 11, 11);
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(182, 11, 11);
}

/* ================ slide show content below ================ */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-height: 500px;
  
  margin: 0;
}

.cover-photo {
    width: 100%;
    max-height: 757px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

/* #videoBG {
    position: fixed;
    top: 1rem;
    z-index: -1;
} */

#beach-data, #weather-data {
    padding: 1rem;
}

#current-weather-box, #wave-forecast-box {
    margin-top: 2rem;
}

#current-beach {
    text-align: center;
    text-transform: uppercase;
}

#jsdata-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#latestvideo {
    text-align: center;
}

/* ============= API section ============= */

.flex-container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#current-weather-box {
    background-color: rgb(56, 187, 56);
}

#current-weather {
    text-align: center;
}

#wave-forecast-box {
    background-color: rgb(79, 79, 245);
}

.videos {
    width: 550px;
    align-self: space-evenly;
    box-shadow: 0 0 10px 2px rgba(121, 121, 121, 0.3);
    margin: 10px;
}


.blog-post-container {
    border: 1px solid rgba(121, 121, 121, 0.3);
    border-radius: 3px;
    width: 270px;
    height: 230px;
    box-sizing: border-box;
    margin-top: 100px;
}

#sticker-img {
    width: 265px;
    margin: 15px 0;
}

.blog-info-container {
    padding: 5px 10px;
    background-color:rgba(219, 219, 219, 0.5);
}

footer {
    width: 100%;
    height: 100px;
    background-color: rgb(238, 50, 16);
}

#copyright {
    color: white;
    text-align: center;
    margin: 20px 0 0 0;
}

@media screen and (max-width: 900px) {

    #logo-top {
        display: block;
        height: 36px;
    }

    #logo-nav-flex {
        display: none;
    }

    #search-header {
        display: none;
    }
}

@media screen and (min-width: 900px) {

    #logo-nav-flex {
        /* max-width: 1200px; */
        justify-content: space-between;
    }
    .cover-photo {
        max-width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: transparent;
        border-radius: 6px;
    }

    #slideshow-container {
        background-color: yellow;
    }
}

@media screen and (min-width: 1200px) {
    #logo-nav-flex {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: -1rem;
    }

    #logo {
        height: 90px;
        display: block;
        margin: 0 auto 0 auto;
        padding-left: 15px;
    }
}