body {
    margin: 0;
    box-sizing: border-box;
    font-family: Epilogue;
    box-sizing: border-box;
}

p {
    letter-spacing: .1rem;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

/* social media/search false header */

#social-search-header {
 width: 100%;
 height: 50px;
 background-image: linear-gradient(rgb(255, 166, 31), rgb(255, 192, 34));
 display: flex;
 flex-direction: row;
 justify-content: space-between;

}

.fab:hover, .far:hover {       /* social media widgets */
    opacity: 60%;
    transition:.1s;
}

.fab, .far {
    font-size: 2rem;
    padding: 0 .25rem;
}

#social-header, #search-header {
    align-self:center;
}

#social-header {
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#current-weather-header {
    padding-right: 1rem;
    font-size: 1rem;
    align-items: center;
}


#logo-top {
    display: none;
}

/* ============ header content below ============= */

#logo-nav-flex {
    height: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#logo {
    align-self: center;
    /* padding-left: 5rem; */
    margin: 15px 0 0 15px; 
    opacity: 95%;
    height: 80px;
}

nav {
    align-self: center;
    /* margin: 0 30px 0 0; */
    font-size: 20px;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    /* padding-right: 5rem; */
}

li {
    margin: 15px;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    color: rgb(43, 43, 43);
    letter-spacing: .2rem;
}

a:hover {
    color: rgba(106, 167, 178, 1);
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(106, 167, 178, 1);
    transition:.3s;
}

/* ================ slide show content below ================ */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-height: 500px;
  margin: 0;
}

.cover-photo {
    width: 100%;
    max-height: 757px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.myslides h1 {
    position: relative;
    top: 1rem;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7}
  to {opacity: 1}
}

/* #videoBG {
    position: fixed;
    top: 1rem;
    z-index: -1;
} */

#forecast-title {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 4rem;
    /* border: 1px solid rgba(121, 121, 121, 0.3);
    border-radius: 8px; */
    /* width: 80%; */
    box-shadow: inset 0 0 8px 2px rgb(235, 235, 235);
}

#jsdata-section {
    font-size: 1rem;
    image-orientation: 90deg;
    opacity: 90%;
    width: 100%;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 179, 255); */
    background-image: url('../img/carving-the-lip.jpg');
    background-size: cover;
}

#jsdata-section iframe {
    width: 500px;
    height: 450px;
}

#current-weather-box {
    margin-left: 4rem;
}

#forecast-title-dewey {
    color: rgba(255, 255, 255, .95);
    text-align: center;
}

#forecast-title-dewey h2 {
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-bottom: -.2rem;
}

#forecast-title-dewey #forecast-section-title {
    color: rgba(240, 240, 240, 0.8)
}

 #weather-data {
    padding: 0 1rem;
    width: 350px;
    height: 515px;
}

#current-temp-f {
    text-align: center;
    font-size: 2.5rem;
    color:rgba(151, 239, 255, 0.9);
    margin: -.1rem 0 -.2rem 0;
}

/*class created in js */
.data-info {
    color: white;
    font-weight: 600;
}

.data {
    border-bottom: 1px solid rgba(121, 121, 121, 0.3);
    color: rgba(233, 233, 233, 0.7);
    padding-top: .2rem;
}

#button-container {
    display: flex;
    flex-direction: column;
    flex: center;
    align-items: center;
    margin: -50px 0 0 0;
    
}



#down-arrow {
    font-size: 6rem;
    margin: 0;
    animation: mymove 3s infinite;
}

@keyframes mymove {
    from {color: rgb(100, 191, 207);}
    to {color: rgb(252, 123, 42);}
    0% { transform: translateY(-15px); }
    100% { transform: translateY(30px); }
  }

#hungry-button {
    letter-spacing: .1rem;
    padding: 1.5rem 2rem;
    color: white;
    font-weight: 500;
    background-image: linear-gradient(rgb(255, 166, 31), rgb(255, 192, 34));

    opacity: 90%;
}

#hungry-button:hover {
    background-image: none;
    background-color:rgb(255, 219, 17);
    transition:.1s;
}

#current-weather-box {
    background-color: rgba(24, 24, 24, 0.7);
}



#wave-forecast-box {
    background-color: rgb(255, 255, 255);
}

#button-container {
    padding: 0 100px;
}

#recipe-summary, #ingredients {
    line-height: 1.25rem;
    letter-spacing: .1rem;
}

/* ============= API section ============= */

.flex-container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.flex-container3 h2 {
    text-align: center;
}

#latestvideo {
    text-align: center;
    margin-top: -5rem;
    padding-bottom: 2rem;
    /* border-bottom: 60px solid rgb(255, 219, 17); */
}

#latestvideo iframe {
    width: 80%;
    height: 600px;
}

#yt-button-container {
    width: 100%;
    background: rgba(216, 216, 216, 0.3);
}

#youtube-button {
    text-align: center;
    padding: 4rem;
}

#youtube-button a {
    letter-spacing: .1rem;
    padding: 1.5rem 2rem;
    color: white;
    font-weight: 500;
    background-image: linear-gradient(rgb(255, 166, 31), rgb(255, 192, 34));
    opacity: 90%;
}

#youtube-button a:hover {
    background-image:none;
    background-color: rgb(255, 219, 17);
    color: rgb(123, 123, 123);
    border: transparent;
    transition:.1s;
}

.videos {
    /* width: 550px; */
    box-shadow: 0 0 10px 2px rgba(121, 121, 121, 0.3);
    /* margin: 10px; */
}

#shop {
    margin: 4rem auto -3rem auto;
    width: 120px;
}

#latestvideo h1 {
    margin: 4rem auto 2rem auto;
    width: 400px;
}

#shop, #latestvideo h1 {
    font-size: 3rem;
    color: rgb(96, 96, 96);
    display: flex;
    justify-content: center;
    padding-bottom: .5rem;
    border-bottom: 5px solid rgba(106, 167, 178, 1);
}

.card {
    width: 18rem;
    border: 1px solid rgba(186, 186, 186, 0.3);
    border-radius: 4px;
}

.card img {
    max-width: 18rem;
    background: 
}

#background-img {
    height: 24rem;
    background-image: url('../img/black-t-back.jpg');
    background-size: cover;
}

#background-img:hover {
    background-image: url('../img/black-t-front.JPG');
    background-size: cover;
    transition: .2s;
    pointer-events: painted;
}


.card-img-hover:hover {
    opacity: 75%;
    border: transparent;
    transition:.3s;
    pointer-events: painted;
}

.card-body {
    padding: 1rem;
    background-color:rgba(242, 242, 242, 0.5);
}

.card-title {
    font-weight: 500;
    font-family: Tahoma, sans-serif;
    font-size: 2rem;
    color: rgb(96, 96, 96);
    padding-bottom: .5rem;
    border-bottom: 5px solid rgba(106, 167, 178, 1);
    margin-top: -.5rem;
}

.card-text {
    color: rgba(75, 75, 75, 0.7);
    /* font-size: .9rem; */
    padding: -.3rem 0 0 0;
    line-height: 1.2rem;
}

.venmo-button {
    color: white;
    background-image: linear-gradient(rgb(255, 166, 31), rgb(255, 192, 34));
    padding: .5rem 1rem;
    border-radius: 1px;
}

.venmo-button:hover {
    background-image: none;
    background-color: rgba(106, 167, 178, 1);
    color: white;
    font-weight: 400;
    opacity: 90%;
}

#order-info {
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: .80rem;
    letter-spacing: .1rem;
    line-height: 1rem;
    margin-top: 2rem;
    border-bottom: 5px solid rgba(106, 167, 178, 1);
    border-top: 5px solid rgba(106, 167, 178, 1);
}

#asterisk {
    color: red;
}

#lesson-section {
    background: rgba(216, 216, 216, 0.3);
    padding: 2rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#lesson-section div {
    width: 700px;
}

#lesson-section a {
    padding: 1rem;
    color: white;
    background: rgba(106, 167, 178, 1);
}

#lesson-section span {
    color: rgb(242, 154, 23);
}

#lesson-section a:hover {
    background-image: linear-gradient(rgb(255, 166, 31), rgb(255, 192, 34));

    border: transparent;
}

#image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 400px;
}

.gallery {
    opacity: 90%;
    width: 25%;
}

footer {
    width: 100%;
    height: 40px;
}

.sh-footer, footer h2 {
    padding-left: 2rem;
}

footer h2 {
    padding-top: 2rem;
}

#copyright {
    color: rgb(40, 40, 40);
    font-size: 13px;
    border-top: 2px solid rgba(206, 206, 206, 0.3);
    padding: 1rem 0 1rem 2rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    #latestvideo iframe {
        width: 80%;
        height: 200px;
        width: 300px;
    }

    #jsdata-section iframe {
        width: 320px;
    }
}

@media screen and (max-width: 900px) {

    #social-search-header {
        align-items: center;
    }

    #current-weather-header {
        display: none;
    }

    #logo-top {
        display: block;
        height: 36px;
    }

    #logo-nav-flex {
        display: none;
    }

    #search-header {
        display: none;
    }

    #jsdata-section {
        flex-direction: column-reverse;
        padding: 1rem;
    }

    #latestvideo iframe {
        width: 80%;
        height: 300px;
        width: 90%;
    }
    #current-weather-box {
        margin-left: 0;
    }

    #latestvideo h1 {
        font-size: 2rem;
        width: 200px;
    }

    #hungry-button, #button-info {
        text-align: center;
    }

    #yt-button-container {
        background: none;
    }

    #youtube-button {
        padding: 1rem;
        font-size: 1rem;
    }

    .card {
        margin-top: 1rem;
    }
    
}

@media screen and (min-width: 900px) {

    #logo-nav-flex {
        /* max-width: 1200px; */
        justify-content: space-between;
    }
    .cover-photo {
        max-width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    #slideshow-container {
        background-color: yellow;
    }
}

@media screen and (min-width: 1200px) {
    #logo-nav-flex {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: -1rem;
    }

    #logo {
        height: 90px;
        display: block;
        margin: 0 auto 0 auto;
        padding-left: 15px;
    }
}